{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="main container">
	<div class="row add-bg">
		<div class="col-xs-12">
			<h1>Delete Item</h1>
      <form class="form-group" method="post">
				<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="form-group">
          <p>Are you sure you want to delete {{item.name}}?</p>
					<button type="submit" name="submit" class="btn btn-danger">Delete</button>
					<a onclick="window.history.back()" class="btn btn-success">Cancel</a>
        </div>
      </form>
		</div>
	</div>
</div>
{% endblock %}
